<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Edit Config</title>
    <meta id="viewport" content="width=device-width, initial-scale=1.0">
    </meta>
    <link href="/webjars/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen">
    </link>
</head>
<body>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/webjars/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<div class="container">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/configs#">Configs</a>
            </div>
        </div>
    </nav>

    <h2>Settings</h2>
    <div>
        <form class="form-horizontal" th:object="${config}" th:action="@{/config}" method="post">
            <input type="hidden" th:field="*{id}"/>

            <div class="form-group">
                <label class="col-sm-2 control-label">Payload:</label>
                <div class="col-sm-10">
                    <textarea class="form-control" th:field="*{payload}" rows="30"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>